# Private
pre/**
!pre/README.md
# Client
client/logs/**
client/maps/**
client/voices/**
client/uw/**
sounds.dat
audio.dat
uw.exe
*.app
*.apk
*.apk.*
uw.zip
*.dat
# Server
server/uwserver/**
server/air_conditioners/**
server/apartments/**
server/chars/**
server/fans/**
server/fridges/**
server/houses/**
server/lockers/**
server/logs/**
server/maps/**
# Exclude main though
!server/maps/main_map/**
server/microwaves/**
server/motd/**
server/playerstores/**
server/steams/**
server/teams/**
server/vehicles/**
server/pre/**
server/compchars.log
server/corpses.svr
server/profile.log
server/admin_log.svr
server/e.log
client/pack/*